services:
  postgres:
    image: postgres:15
    container_name: postgres
    restart: always
    env_file: .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - 5432:5432
    volumes:
      - ./postgres/data:/var/lib/postgresql/data
      - ./postgres/create_airflow_db.sql:/docker-entrypoint-initdb.d/create_airflow_db.sql
      - ./postgres/create_ecommerce_db.sql:/docker-entrypoint-initdb.d/create_ecommerce_db.sql
    networks:
      - infra_net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  zookeeper:
    image: zookeeper:3.8.0
    container_name: zookeeper
    restart: always
    environment:
      ZOO_CLIENT_PORT: 2181
      ZOO_TICK_TIME: 2000
      ZOO_DATA_DIR: /data
      ZOO_DATA_LOG_DIR: /datalog
    ports:
      - "2181:2181"
    volumes:
      - ./kafka/zookeeper_data:/data
      - ./kafka/zookeeper_datalog:/datalog
    networks:
      - infra_net
    healthcheck:
      test: ["CMD", "echo", "ruok", "|", "nc", "-w", "5", "localhost", "2181", "|", "grep", "imok"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka
    restart: always
    depends_on:
      zookeeper:
        condition: service_healthy
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:29092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    ports:
      - "9092:9092"
      - "29092:29092"  
    networks:
      - infra_net
    healthcheck:
      test: ["CMD", "cub", "kafka-ready", "-b", "kafka:9092", "1" , "30"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 40s

  airflow-init:
    image: apache/airflow:2.9.3
    container_name: airflow-init
    restart: "no"
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://${AIRFLOW_DB_USER}:${AIRFLOW_DB_PASSWORD}@${AIRFLOW_DB_HOST}:${AIRFLOW_DB_PORT}/${AIRFLOW_DB_NAME}
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins
      - ./utils/helpers/wait-for-postgres.sh:/opt/airflow/wait-for-postgres.sh
    entrypoint: >
      /bin/bash -c "
      /opt/airflow/wait-for-postgres.sh ${AIRFLOW_DB_HOST} airflow db migrate &&
      airflow users create --username admin --password admin --firstname Admin --lastname User --role Admin --email admin@example.com
      "
    networks:
      - infra_net

  airflow-webserver:
    image: apache/airflow:2.9.3
    container_name: airflow-webserver
    restart: always
    ports:
      - "8080:8080"
    depends_on:
      airflow-init:
        condition: service_started
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://${AIRFLOW_DB_USER}:${AIRFLOW_DB_PASSWORD}@${AIRFLOW_DB_HOST}:${AIRFLOW_DB_PORT}/${AIRFLOW_DB_NAME}
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
    networks:
      - infra_net
    command: webserver

  airflow-scheduler:
    image: apache/airflow:2.9.3
    container_name: airflow-scheduler
    restart: always 
    depends_on:
      airflow-init:
        condition: service_started
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://${AIRFLOW_DB_USER}:${AIRFLOW_DB_PASSWORD}@${AIRFLOW_DB_HOST}:${AIRFLOW_DB_PORT}/${AIRFLOW_DB_NAME}
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - infra_net
    command: scheduler

  airflow-triggerer:
    image: apache/airflow:2.9.3
    container_name: airflow-triggerer
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
      airflow-init:
        condition: service_started
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://${AIRFLOW_DB_USER}:${AIRFLOW_DB_PASSWORD}@${AIRFLOW_DB_HOST}:${AIRFLOW_DB_PORT}/${AIRFLOW_DB_NAME}
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - infra_net
    command: triggerer

  kafka-producer:
    build:
      context: ./kafka/producer_scripts
    container_name: kafka-producer
    restart: "no"
    depends_on:
      kafka:
        condition: service_healthy
    networks:
      - infra_net

  kafka-consumer:
    build:
      context: ./kafka/consumer_scripts
    container_name: kafka-consumer
    restart: "no"
    depends_on:
      kafka:
        condition: service_healthy
    networks:
      - infra_net

  dbt:
    build:
      context: ./dbt
    container_name: dbt
    restart: "no"
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      DBT_PROFILES_DIR: /app/dbt_project
    volumes:
      - ./dbt/dbt_project:/app/dbt_project
    working_dir: /app/dbt_project
    networks:
      - infra_net


networks:
  infra_net:
    driver: bridge
